<%= form_with model: [@article, @article.comments.build] do |form| %>
  <div>
    <%= form.label :commenter %> <br>
    <%= form.text_field :commenter %>
  </div> <br>
  <div>
    <%= form.label :body %> <br>
    <%= form.text_area :body %>
  </div> <br>
  <div>
    <%= form.label :status %>
    <%= form.select :status, Visible::VALIDATE_STATUSES, selected: "public" %>
  </div> <br>
  <%= form.submit "Add comment" %>
<% end %>
